
@{
    ViewData["Title"] = "Login";
    Layout = null;

}

@*----------------------------------  OLD LOGIN  ---------------------------------------*@

@*<!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="~/assests/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <section class="d-flex justify-content-center align-items-center section-form" style="margin-top: 8rem;">
            <div class="container-fluid h-custom">
                <div class="row pb-5">
                    <div class="col-lg-12 col-12">
                        <h1 class="text-center">Jewellery Management System</h1>
                    </div>
                </div>
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="~/assests/images/1307384-gold.webp"
                             class="img-fluid" alt="Sample image" style="border-radius: 30px;">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                        @using(Html.BeginForm("Login", "Wholesaler", FormMethod.Post))
                        {

                            < !--Email input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="email" class="form-control form-control-lg"
                                       placeholder="Enter a valid User Name" />
                                @Html.TextAreaFor(model => model.jeweller_name, new { @class= "form-control form-control-lg", @placeholder = "Enter a valid User Name" })
                                <label class="form-label" for="form3Example3">User Name</label>
                            </div>

                             Password input
                            <div class="form-outline mb-3">
                                <input type="password" id="pass" class="form-control form-control-lg"
                                       placeholder="Enter password" />
                                @Html.TextAreaFor(model => model.jeweller_password, new { @class = "form-control form-control-lg", @placeholder = "Enter Password" })
                                <label class="form-label" for="form3Example4">Password</label>
                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                                 Checkbox
                                <div class="form-check mb-0">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="checkbox" />
                                    <label class="form-check-label" for="form2Example3">
                                        Remember me
                                    </label>
                                </div>

                            </div>

                            <div class="text-center text-lg-start mt-4 pt-2">
                                <input type="submit" value="Login" class="btn btn-primary btn-lg"
                                        style="padding-left: 2.5rem; padding-right: 2.5rem;">


                                 <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                                    class="link-danger">Register</a></p>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </section>
        <script src="~/assests/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
    </html>*@

@*------------------------------------  CURRENT LOGIN  --------------------------------------*@

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jewellery Management System</title>
    <link href="~/assests/css/Login.css" rel="stylesheet">

</head>
<body>
    <section>
        <div class="main-form-container">
            <div id="form_section" class="form-container">
                <div class="login-form form-wraper ">
                    <div>
                        @using (Html.BeginForm("JewellerLogin", "Accounts", FormMethod.Post))
                        {
                            <div class="form-title">
                                <h2>Jeweller Login</h2>
                            </div>

                            <div class="input-group">
                                <div class="box">
                                    <span>
                                        <input name="uname" placeholder="Enter User Name" class="myInput" type="text" required />
                                    </span>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="box">
                                    <span>
                                        <input name="pwd" placeholder="Enter Password" class="myInput" type="password" required />
                                    </span>
                                </div>
                            </div>
                            <div class="action-button">
                                <input type="submit" value="Login">
                            </div>
                        }
                    </div>
                </div>
                <div class="signUp-form form-wraper">
                    <div>
                        @using (Html.BeginForm("VendorLogin", "Accounts", FormMethod.Post))
                        {
                            <div class="form-title">
                                <h2>Vendor Login</h2>
                            </div>

                            <div class="input-group">
                                <div class="box">
                                    <span>
                                        <input name="email" placeholder="Enter your Email" class="myInput" type="email" required />
                                    </span>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="box">
                                    <span>
                                        <input name="pwd" placeholder="Enter Password" class="myInput" type="password" required />
                                    </span>
                                </div>
                            </div>
                            <div class="action-button">
                                <input type="submit" value="Login">
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div id="multiple-btn" class="bg-btn-container">
                <div class="action-button">
                    <button>Jeweller</button>
                </div>
                <div class="action-button">
                    <button>Vendor</button>
                </div>
            </div>

        </div>
    </section>

    <script>
        const inputs = document.querySelectorAll("input");
        inputs.forEach(function (input) {
            input.addEventListener("focus", function () {
                const parentElement = input.parentElement.parentElement;
                parentElement.classList.add("box-animation");
            });
            input.addEventListener("blur", function () {
                const parentElement = input.parentElement.parentElement;
                parentElement.classList.remove("box-animation");
            });
        });

        const buttons = document.querySelectorAll("#multiple-btn button");
        const form_container = document.getElementById('form_section')
        buttons.forEach((button) => {
            button.addEventListener("click", () => {
                form_container.classList.toggle("left-right");

            });
        });

    </script>

</body>
</html>
