
@{
    ViewData["Title"] = "RFQ";
}

<div class="row">
                        <!-- Content Column -->
                        <div class="col-lg-12 mb-4">
                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Request of Quotation</h6>
                                </div>
                                <div className="card-body">
                                    <div className="row">
                                        <form>
                                            <div class="form-row pt-3">
                                                <div class="form-group col-md-6 px-3">
                                                    <label for="inputState">Vendor</label>
                                                    <select id="inputState" class="form-control">
                                                        <option selected>Muhammed Awais</option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6 px-3">
                                                    <label for="inputEmail4">Order Online</label>
                                                    <input type="date" class="form-control" id="order" placeholder="04/12/2023">
                                                </div>
                                                <div class="form-group col-md-6 px-3">
                                                    <label for="inputEmail4">Vendor Reference</label>
                                                    <input type="text" class="form-control" id="vendor reference" placeholder="Online Marketing"
                                                           disabled>
                                                </div>
                                                <div class="form-group col-md-6 px-3">
                                                    <label for="inputEmail4">Expected Arrival</label>
                                                    <input type="date" class="form-control" id="Eepected Arrival" placeholder="04/12/2023">
                                                </div>
                                        </form>
                                    </div>
                                    <div class="card-body bg-gray-200 m-3 border border-dark">
                                        <div class="col-lg-12">
                                            <div class="row text-center border border-dark">
                                                <div class="col border-right">
                                                    Product
                                                </div>
                                                <div class="col border-right">
                                                    Description
                                                </div>
                                                <div class="col border-right">
                                                    Quantity
                                                </div>
                                                <div class="col border-right">
                                                    UoM
                                                </div>
                                                <div class="col">
                                                    Unit Price
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 pt-2">
                                            <div class="row">
                                                <div class="col">
                                                    <select id="inputState" class="form-control">
                                                        <option selected>Gold</option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                                <div class="col pt-2">
                                                    Raw Material
                                                </div>
                                                <div class="col">
                                                    <input type="number" class="form-control" placeholder="5">
                                                </div>
                                                <div class="col">
                                                    <select id="inputState" class="form-control">
                                                        <option selected>Grams</option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <input type="number" class="form-control" placeholder="1500">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mt-5 d-flex justify-content-between">
                                            <button type="button" class="btn btn-primary">Send Message</button>
                                            <h4 class="pt-3">Total: PKR.75000</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
