
@{
    ViewBag.Title = "AddVendor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <!-- Content Column -->
    <div class="col-lg-12 mb-4">
        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Add New Vendor</h6>
            </div>
            <div className="card-body">
                <div className="row">
                    @using (Html.BeginForm("AddVendor", "Wholesaler", FormMethod.Post))
                     {
                        <div class="form-row pt-3">
                            <div class="form-group col-lg-4 col-12 px-3">
                                <label for="vname">Vendor Name</label>
                                <input type="text" class="form-control" id="vname" name="vname" required>
                            </div>
                            <div class="form-group col-lg-4 col-12 pl-2">
                                <label for="vemail">Vendor Email</label>
                                <input type="email" class="form-control" id="vemail" name="vemail" required>
                            </div>
                            <div class="form-group col-lg-4 col-12 pl-2">
                                <label for="vnum">Vendor Contact No.</label>
                                <input type="tel" class="form-control" id="vnum" name="vnum"
                                       placeholder="03XXXXXXXXX" pattern="03[0-4]{1}[0-9]{8}" required>
                            </div>
                            <div class="form-group col-lg-4 col-12 px-3">
                                <label for="vcnic">Vendor CNIC</label>
                                <input type="tel" class="form-control" id="vcnic" name="vcnic"
                                       placeholder="XXXXX-XXXXXXX-X" pattern="[0-9]{5}-[0-9]{7}-[0-9]{1}" required>
                            </div>
                            <div class="form-group col-lg-4 col-12 pl-2">
                                <label for="vaddr">Vendor Address</label>
                                <input type="text" class="form-control" id="vaddr" name="vaddr" required>
                            </div>
                            <div class="form-group col-lg-4 col-12 pl-2">
                                <label for="vtax">Tax Percentage.</label>
                                <input type="number" class="form-control" id="vtax" name="vtax" min="0" required>
                            </div>
                            <div class="form-group col-lg-4 col-12 px-3">
                                <label for="vtitle">Vendor Account Title</label>
                                <input type="text" class="form-control" id="vtitle" name="vtitle" required>
                            </div>
                            <div class="form-group col-lg-4 col-12 pl-2">
                                <label for="vbank">Bank Name</label>
                                <input type="text" class="form-control" id="vbank" name="vbank" required>
                            </div>
                            <div class="form-group col-lg-4 col-12 pl-2">
                                <label for="vacnum">Vendor Account Number</label>
                                <input type="text" class="form-control" id="vacnum" name="vacnum" required>
                            </div>
                            <div class="form-group col-md-12 px-3">
                                <input type="submit" value="Add" class="btn btn-primary">
                            </div>
                        </div>
                     }
                </div>
            </div>
        </div>
    </div>
</div>

<script>

   

</script>