
@{
    ViewData["Title"] = "Login";
    Layout = null;

}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jewellery Management System</title>
    <link href="~/assests/css/Login.css" rel="stylesheet">

</head>
<body>
    <section>
        <div class="main-form-container">
            <div id="form_section" class="form-container">
                <div class="login-form form-wraper ">
                    <div>
                        @using (Html.BeginForm("JewellerLogin", "Wholesaler", FormMethod.Post))
                        {
                            <div class="form-title">
                                <h2>Jeweller Login</h2>
                            </div>

                            <div class="input-group">
                                <div class="box">
                                    <span>
                                        <input name="uname" placeholder="Enter User Name" class="myInput" type="text" required />
                                    </span>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="box">
                                    <span>
                                        <input name="pwd" placeholder="Enter Password" class="myInput" type="password" required />
                                    </span>
                                </div>
                            </div>
                            <div class="action-button">
                                <input type="submit" value="Login">
                            </div>
                        }
                    </div>
                </div>
                <div class="signUp-form form-wraper">
                    <div>
                        @using (Html.BeginForm("VendorLogin", "Wholesaler", FormMethod.Post))
                        {
                            <div class="form-title">
                                <h2>Vendor Login</h2>
                            </div>

                            <div class="input-group">
                                <div class="box">
                                    <span>
                                        <input name="email" placeholder="Enter your Email" class="myInput" type="email" required />
                                    </span>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="box">
                                    <span>
                                        <input name="pwd" placeholder="Enter Password" class="myInput" type="password" required />
                                    </span>
                                </div>
                            </div>
                            <div class="action-button">
                                <input type="submit" value="Login">
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div id="multiple-btn" class="bg-btn-container">
                <div class="action-button">
                    <button>Jeweller</button>
                </div>
                <div class="action-button">
                    <button>Vendor</button>
                </div>
            </div>

        </div>
    </section>

    <script>
        const inputs = document.querySelectorAll("input");
        inputs.forEach(function (input) {
            input.addEventListener("focus", function () {
                const parentElement = input.parentElement.parentElement;
                parentElement.classList.add("box-animation");
            });
            input.addEventListener("blur", function () {
                const parentElement = input.parentElement.parentElement;
                parentElement.classList.remove("box-animation");
            });
        });

        const buttons = document.querySelectorAll("#multiple-btn button");
        const form_container = document.getElementById('form_section')
        buttons.forEach((button) => {
            button.addEventListener("click", () => {
                form_container.classList.toggle("left-right");

            });
        });

    </script>

</body>
</html>
