
@{
    ViewData["Title"] = "RFQ";
}
<div class="container">
    <div class="row pb-2">
        <div class="col-3 col-lg-3">
            @Html.ActionLink("New","CreateRFQ", "Wholesaler",new { @class= "btn mr-md-2 mb-md-0 mb-2 btn-primary btn-round" })
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="table-responsive bg-white">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Reference</th>
                            <th scope="col">Vendor</th>
                            <th scope="col">Company</th>
                            <th scope="col">Buyer</th>
                            <th scope="col">Order Deadline</th>
                            <th scope="col">Total</th>
                            <th scope="col">XYZ</th>
                            <th scope="col">XYZ</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" style="color: #666666;">P00015</th>
                            <td>Ready mat</td>
                            <td>Demo Company</td>
                            <td>Michel</td>
                            <td>Yesterday</td>
                            <td>$320,800</td>
                            <td>-</td>
                            <td>-</td>


                        </tr>
                        <tr>
                            <th scope="row" style="color: #666666;">P00015</th>
                            <td>Ready mat</td>
                            <td>Demo Company</td>
                            <td>Michel</td>
                            <td>Yesterday</td>
                            <td>$320,800</td>
                            <td>-</td>
                            <td>-</td>


                        </tr>
                        <tr>
                            <th scope="row" style="color: #666666;">P00015</th>
                            <td>Ready mat</td>
                            <td>Demo Company</td>
                            <td>Michel</td>
                            <td>Yesterday</td>
                            <td>$320,800</td>
                            <td>-</td>
                            <td>-</td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
